.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #270a0a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(142, 216, 50, 0.1);
    background-color: #c7e2c9;
  }
  
  .login-container h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #14090e;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #84d835;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #ed4040;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5098e4;
  }